@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"');
*{
    margin: 0;
    padding: 0;
}
body{
    background: #A6A4A4;  
}
.container{
    height: 623px;
    width: 385px;
    background: #fff;
}
.container h1{
    position: absolute;
    align-items: center;
    left: 50px;
    top: 28px;
    font-family: inter;
    font-size: 30px;
    letter-spacing: 10px;
    
}
.link li{
    list-style: none;
    top: 30px;
    padding: 10px;
    font-size: 20px;
   
}

.link li a{
    text-decoration: none;
    color: #A6A4A4;
}

.link{
    position: absolute;
    top: 100px;
    left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#search{
    position: absolute;
    top: 420px;
    left: 50px;
}

#search input[type=text]{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid #A6A4A4;
}

#search  button{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: none;
    background: #fff;
    color: #A6A4A4;
    cursor: pointer;
}

.copy{
    color: #A6A4A4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.copy p{
    position: absolute;
    top: 480px;
    left: 50px;
}
.copy .paragraph{
    position: absolute;
    top: 500px;
    left: 50px;
}
.copy .paragraph span{
    color: #000;
}
.item img{
    position: absolute;
    top: 100px;
    left: 400px;
    

}
.item img{
    -webkit-mask-image: radial-gradient(circle, black 60%, rgba(0, 0, 0, 0) 50%);
    mask-image: radial-gradient(circle, black 80%, rgba(0, 0, 0, 0.5) 50%);
    
}
.shadow{
    border: 20px solid;
    height: 262px;
    width: 261px;
    position: absolute;
    top: 148px;
    left: 400px;
    z-index: 1;
    border-radius: 167px;
    color: #ffffff59;
}
.pag p{
    position: absolute;
    top: 218px;
    font-size: 40px;
    left: 736px;
    font-family: 'Inter';
    width: 500px;
}
.balder{
    position: absolute;
    top: -1px;
}
.wrapper{
    display: flex;
    position: absolute;
    top: 269px;
    left: 737px;
    
  }
  .wrapper .static-txt{
    color: #424242;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;  
    top: 34px;
    font-size: 20px;
    width: 53px;
    /* font-weight: 400; */
  } 
  .wrapper .static-txt2{
    position: absolute;
    top: 70px;
    font-size: 20px;
    /* font-weight: 400; */
    width: 600px;
    color: #424242;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: #3b3b3b;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 1px;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 1px 0;
    line-height: 90px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    height: 100%;
    width: 100%;
    background: #A6A4A4;
    border-left: 2px solid #3b3b3b;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }
 